%h4{id: "actor_headline", 'up-hungry' => ''}
  = "#{@actor.thing.name}: #{@actor.name}"
  = switch_state_indicator @actor.specific.state

= link_to "On", executions_path(params: { execution: {actor_id: @actor.id, action: 'on'} }) , method: :post, class: 'btn btn-primary', 'up-target' => '.layout--content'
= link_to "Off", executions_path(params: { execution: {actor_id: @actor.id, action: 'off'} }) , method: :post, class: 'btn btn-primary', 'up-target' => '.layout--content'

%br
%br
.group-list
  .list-group-item
    .line
      .line--item.-title
        Schedule
      .line--item.-right
        = link_to 'add', new_schedule_path(params: { schedule: {actor_id: @actor.id} }), class: 'btn btn-success btn-sm', 'up-target' => '.layout--content'
  - @actor.schedules.order(:execute_at).each do |schedule|
    .list-group-item
      .line
        .line--item.-title= schedule.execute_at.strftime("%H:%M")
        .line--item
          - case schedule.action
            - when 'on'
              %span.badge.badge-success on
            - when 'off'
              %span.badge.badge-danger off
            - else
              %span.badge.badge-primary= schedule.action

        .line--item.-right
          = link_to 'edit', edit_schedule_path(schedule), class: 'btn btn-primary btn-sm', 'up-target' => '.layout--content'
          = link_to 'delete', schedule_path(schedule), method: :delete, class: 'btn btn-primary btn-sm', 'up-target' => '.layout--content'


