- @things.each do |thing|
  .card
    .card-body
      %h5.card-title.no-margin{id: "thing_#{thing.id}_name", 'up-hungry' => ''}
        = thing.name
        = online_indicator thing.last_seen
    %ul.list-group.list-group-flush
      - thing.actors.order(:name).each do |actor|
        %li.list-group-item
          = render 'actors/actor', actor: actor
      - thing.sensors.order(:name).each do |sensor|
        %li.list-group-item
          = render 'sensors/sensor', sensor: sensor
  %br
