.form
  = form_for @schedule, html: { 'up-target' => '.layout--content' } do |f|

    .form-group.clockpicker(data-autoclose="true")
      = f.label :execute_at, "Time"
      = f.text_field :execute_at, value: f.object.execute_at&.strftime('%H:%M'), class: 'form-control', placeholder: "Time", autocomplete: :off

    .form-group
      = f.label :action
      = f.select :action, @schedule.actor.specific.actions, {}, class: 'form-control'

    .form-group.form-check
      = f.check_box :execute_on_monday, class: 'form-check-input'
      = f.label :execute_on_monday, 'Monday', class: 'form-check-label'

    .form-group.form-check
      = f.check_box :execute_on_tuesday, class: 'form-check-input'
      = f.label :execute_on_tuesday, 'Tuesday', class: 'form-check-label'

    .form-group.form-check
      = f.check_box :execute_on_wednesday, class: 'form-check-input'
      = f.label :execute_on_wednesday, 'Wednesday', class: 'form-check-label'

    .form-group.form-check
      = f.check_box :execute_on_thursday, class: 'form-check-input'
      = f.label :execute_on_thursday, 'Thursday', class: 'form-check-label'

    .form-group.form-check
      = f.check_box :execute_on_friday, class: 'form-check-input'
      = f.label :execute_on_friday, 'Friday', class: 'form-check-label'

    .form-group.form-check
      = f.check_box :execute_on_saturday, class: 'form-check-input'
      = f.label :execute_on_saturday, 'Saturday', class: 'form-check-label'

    .form-group.form-check
      = f.check_box :execute_on_sunday, class: 'form-check-input'
      = f.label :execute_on_sunday, 'Sunday', class: 'form-check-label'

    = f.hidden_field :actor_id
    = f.submit class: 'btn btn-success'
